body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6-xf7M_0Xi60VEZm0bxoIxCNVyv0_c4B8RQ&usqp=CAU")
}

div {
	margin: 20px;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	text-align: center;
}

h1 {
	margin-top: 0px;
}

button {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 20px;
	cursor: pointer;
}

button:hover {
	background-color: #3e8e41;
}
